.satu {
  border: 10px dotted red;
  background-color: rgb(19, 240, 248);
  overflow: scroll;
  width: 300px;
  height: 100px;
  padding: 10px 10px 10px 10px;
}

.dua {
  border: 5px solid green;
  background-color: rgb(19, 240, 248);
  overflow: scroll;
  width: 300px;
  height: 100px;
  padding: 10px 10px 10px 10px;
}

.tiga {
  border: 15px dashed blue;
  background-color: rgb(19, 240, 248);
  overflow: scroll;
  width: 300px;
  height: 100px;
  padding: 10px 10px 10px 10px;
}
